.App-header {
    background-color: #222;
    border-bottom-right-radius:25px;
    width: 97%;
}

.App-header>div{
    place-items: center;
    border-radius: 5px;
}


.nav-bar{
    display: flex;
    gap:20px;
    padding:10px;
}

.tab{
    background-color: white;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    
}

.tab > a {
    color: black;
}