.main-content{
    color: black;
}

.menu-bar{
    padding: 10px;
    display: flex;
    width: 100%;
    gap:20px; /* Optional: Adds space on the left and right */
    justify-content: center;

}

.menu-bar>button{
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); /* X, Y, Blur, Spread */
    color: black;
}

.menu-bar>span{
    border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.menu-category>h2{
    display: flex;
    align-items: center;
}

.menu-category>h2::after {
    content: "";
    flex-grow: 1;  /* This makes the line extend to fill the remaining space */
    height: 2px;   /* Thickness of the line */
    background-color: #a8a8a8; /* Line color */
    margin-left: 8px;  /* Space between the text and the line */
  }